{% load static%}
<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimelineILPS</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" media='screen and (min-width: 900px)' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' media='screen and (max-width: 900px)' href="{% static 'css/main_mobile.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        #events{
            opacity: 1;
            border-bottom: 2.5px solid white;

        }
    </style>
</head>
<body>
    <div id="header_wrapper">
        <header id="header">
            <div id="header_p1">
                <a href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" alt="" id="landing_logo"></a> 
            </div>
            <div id="header_p2">
                    <div id="events" class="head_menu_li">Events</div>
                    <a href="{% url 'about' %}"><div id="about" class="head_menu_li">About</div></a>
            </div>
            <div id="header_p3">
                    <div id="subscribe" class="onHover">Subscribe</div>
            </div>
        </header>
        <div id="head_desc">Documenting the daily events shaping the Israeli & Palestinian conflict.</div>
    </div>
    <div id="preloader">
        <!-- <div id="loader"></div> -->
        <div class="dot-wave">
            <div class="dot-wave__dot"></div>
            <div class="dot-wave__dot"></div>
            <div class="dot-wave__dot"></div>
            <div class="dot-wave__dot"></div>
        </div>
    </div>
    <section id="big_cont">
        <div id="search_box">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" id="headline_input" name="headline" placeholder="Search by Headline..">
                <select id="year_input" name="Year" >
                    <option disabled selected value="0">Year</option>
                    {% for i in year_list%}
                        <option >{{i}}</option>
                    {%endfor%}
                  </select>
                <select id="month_input" name="month" >
                    <option disabled selected value="0">Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                <select id="day_input" name="day" >
                    <option disabled selected value="0">day</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                <select id="tag_input" name="tag">
                    <option value="default">Tag</option>
                    {% for i in tag_list%}
                        <option >{{i}}</option>
                    {%endfor%}
                </select>

                <!-- {{filter_form.form}} -->
                <input type="submit" id="search_btn" value="SEARCH">
            </form>
        </div>
        <div id="event_ctrl">
            <div id="newest_event">Latest News</div>
            <div id="ctrl_p2">
                <div id="events_number">{{ events_num }} events in total</div>
                <div id="sort_box">
                    <div id="sort_title">Sort by</div>
                    <form action="" id="sort_form" method="post">
                        {% csrf_token %}
                        <select id="sort_by_select" name="selected_sort">
                            <option value="default" >Most recent</option>
                            <option value="name-asc">Least recent</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div id="events_cont">
            {% for group in grouped_queryset %}
            <div class="events_date">
                <div class="event_date">{{ group.event_date|date:"d.m.y" }}</div>
                {% for event in queryset %}
                {% if event.event_date == group.event_date %}
                  <div class="event">
                      <div class="event_title">                         
                          {% if event.category == "GD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#009D35"/>
                            </svg>
                          {% elif event.category == "BD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#0031AB"/>
                            </svg>
                          {% elif event.category == "GD/BD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#009D35"/>
                                <path d="M0 7C0 3.13401 3.13401 0 7 0V0V7V14V14C3.13401 14 0 10.866 0 7V7Z" fill="#0031AB"/>
                            </svg>
                          {% elif event.category == "LGD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#D0ECDB"/>
                            </svg>
                          {% elif event.category == "LBD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#7BA3FF"/>
                            </svg>
                          {% elif event.category == "GrD" %}
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="14" height="14" rx="7" fill="#A5ACB9"/>
                            </svg>
                          {% endif %}                            
                          <div>{{ event.event_title }}</div>         
                          <svg class="expend_arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2 2L10 10.7273L18 2" stroke="#0031AB" stroke-width="2.5"/>
                          </svg>                                                                                                     
                      </div>
                      <div class="event_desc">
                          <div class="bullets">
                              {% if event.event_bullet_1 != None %}
                              <div class="bullet">
                                  <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="7" height="7" rx="3.5" fill="#454648"/>
                                  </svg>                                    
                                  <div>{{ event.event_bullet_1 }}</div>                                    
                              </div>
                              {% endif %}
                              {% if event.event_bullet_2 != None %}
                              <div class="bullet">
                                  <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect width="7" height="7" rx="3.5" fill="#454648"/>
                                  </svg>                                   
                                  <div>{{ event.event_bullet_2 }}</div>                                    
                              </div>
                              {% endif %}
                              {% if event.event_bullet_3 != None %}
                              <div class="bullet">
                                  <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect width="7" height="7" rx="3.5" fill="#454648"/>
                                  </svg>                                    
                                  <div>{{ event.event_bullet_3 }}</div>                                    
                              </div>
                              {% endif %}
                              {% if event.event_bullet_4 != None %}
                              <div class="bullet">
                                  <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect width="7" height="7" rx="3.5" fill="#454648"/>
                                  </svg>                                    
                                  <div>{{ event.event_bullet_4 }}</div>                                    
                              </div>
                              {% endif %}
                              {% if event.event_bullet_5 != None %}
                              <div class="bullet">
                                  <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <rect width="7" height="7" rx="3.5" fill="#454648"/>
                                  </svg>                                    
                                  <div>{{ event.event_bullet_5 }}</div>                                    
                              </div>
                              {% endif %}
                          </div>
                          <div class="source">
                              <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <rect width="7" height="7" rx="3.5" fill="#454648"/>
                              </svg>                                
                              Source:&nbsp;
                              <a href="{{event.source1_url}}" target="_blank">The Guardian</a>
                              <a href="{{event.source1_image}}" target="_blank"> {{event.source1_image}}</a>
                              &nbsp;&nbsp;
                              ( <a href=""><div>&nbsp;Archive
                                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M5.92313 10.2122C7.2224 10.2122 8.27925 9.15538 8.27925 7.85654C8.27925 6.55685 7.2224 5.5 5.92313 5.5C4.62386 5.5 3.56702 6.55685 3.56702 7.85612C3.56702 9.15538 4.62386 10.2122 5.92313 10.2122Z" fill="#5781CE"/>
                                      <path d="M0.422974 0V16.9231V22H21.5768V16.9231V0H0.422974ZM1.26913 0.846154H20.7307V12.5413L15.9397 8.14931C15.8568 8.07358 15.7477 8.03592 15.6351 8.03846C15.523 8.04354 15.4172 8.09304 15.3415 8.17596L11.8033 12.0509L13.4144 13.662C13.5798 13.8274 13.5798 14.0948 13.4144 14.2602C13.3319 14.3432 13.2236 14.3846 13.1153 14.3846C13.007 14.3846 12.8987 14.3432 12.8162 14.2607L11.1975 12.7147L9.19082 10.7081C9.03259 10.5503 8.77959 10.5422 8.61205 10.6895L1.53186 16.9231H1.26913V0.846154ZM20.7307 21.1538H1.26913V17.7692H20.7307V21.1538Z" fill="#5781CE"/>
                                  </svg>                                    
                                  </div></a>)
                          </div>
                          <div class="tag">
                              <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <rect width="7" height="7" rx="3.5" fill="#454648"/>
                              </svg>                                
                              Tags:&nbsp;
                              <div class="tags_list">
                                    {% for i in event.tags.all %}
                                    <div class="tag_el">{{i.tag}},</div>
                                    {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}



        </div>
    </section>
    <div id="pages">
        {% if grouped_queryset.number <= 1 %}
            <div class="page_num page_num1">{{ grouped_queryset.number }} </div>
            {% if grouped_queryset.next_page_number != None %}
            <a href="?page={{ grouped_queryset.next_page_number }}"><div class="page_num">{{ grouped_queryset.next_page_number }}</div></a>
            <a href="?page={{ grouped_queryset.next_page_number|add:1 }}"><div class="page_num">{{ grouped_queryset.next_page_number|add:1 }}</div></a>
            <a href="?page={{ grouped_queryset.next_page_number }}"><div class="page_next">
                <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.56665 17.9L10.3121 9.88336L1.56665 1.86669" stroke="#232E52" stroke-width="3"/>
                </svg>                    
            </div></a>
            {% endif %}
        {% else %}
            <a href="?page={{ grouped_queryset.previous_page_number }}"><div class="page_next">
                <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.312 1.8667L3.56656 9.88337L12.312 17.9" stroke="#232E52" stroke-width="3.7"/>
                </svg>                                       
            </div></a>
            <div class="page_num page_num1">{{ grouped_queryset.number }} </div>
            {% if grouped_queryset.next_page_number != Non %}
            <a href="?page={{ grouped_queryset.next_page_number }}"><div class="page_num">{{ grouped_queryset.next_page_number }}</div></a>
            {% endif %}
            {% if grouped_queryset.next_page_number|add:1 <= grouped_queryset.paginator.num_pages %}
            <a href="?page={{ grouped_queryset.next_page_number|add:1 }}"><div class="page_num">{{ grouped_queryset.next_page_number|add:1 }}</div></a>
            <a href="?page={{ grouped_queryset.next_page_number }}"><div class="page_next">
                <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.56665 17.9L10.3121 9.88336L1.56665 1.86669" stroke="#232E52" stroke-width="3"/>
                </svg>                    
            </div></a>
            {% endif %}
        {% endif %}
    </div>
    <div id="footer">
        <svg id="footer_svg" width="105" height="103" viewBox="0 0 105 103" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M80.9117 0C81.2181 2.66993 81.3755 5.38514 81.3755 8.13712C81.3755 47.1353 49.7612 78.7496 10.763 78.7496C7.10374 78.7496 3.50948 78.4713 0.000244141 77.9346V101.767C3.53227 102.168 7.12355 102.375 10.763 102.375C62.8089 102.375 105.001 60.183 105.001 8.13712C105.001 5.39583 104.883 2.68188 104.654 0H80.9117Z" fill="#7188B3"/>
        </svg>  
        <div id="footer_title">Subscribe to our newsletter.</div>              
        <div id="footer_desc">Join to receive our weekly news recap</div> 
        <form action="" id="footer_form">
            <input type="text" id="newsletter_email" name="newsletter_email">
            <input type="submit" id="submit_email" value="SUBSCRIBE">
        </form>             
    </div>
    <div id="copyright">Copyright 2023 - Timeline IL PS</div>
	<input type="hidden" id="Url98" data-url="{{sort_input}}" />
	<input type="hidden" id="Url97" data-url="{{year}}" />
	<input type="hidden" id="Url96" data-url="{{month}}" />
	<input type="hidden" id="Url95" data-url="{{day}}" />
	<input type="hidden" id="Url94" data-url="{{title}}" />
	<input type="hidden" id="Url93" data-url="{{tag}}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
            $('#sort_by_select').on('change', function() { $('#sort_form').submit(); });
            const input = document.getElementById('Url98').getAttribute("data-url");
            const year = document.getElementById('Url97').getAttribute("data-url");
            const month = document.getElementById('Url96').getAttribute("data-url");
            const day = document.getElementById('Url95').getAttribute("data-url");
            const title = document.getElementById('Url94').getAttribute("data-url");
            const tag = document.getElementById('Url93').getAttribute("data-url");

            if (input =="default") {
                selectedOptionIndex = 0; // select the third option
            } else {
                selectedOptionIndex = 1; // select the first option
            }
            var select = document.getElementById("sort_by_select");
            select.selectedIndex = selectedOptionIndex;
            console.log(year,month,day)


            var year_select = document.getElementById("year_input");
            var month_select = document.getElementById("month_input");
            var day_select = document.getElementById("day_input");
            var title_seach = document.getElementById("headline_input");
            var tag_seach = document.getElementById("tag_input");


            if (year !== "None") {
                year_select.value = year;
            }
            if (month !== "None") {
                month_select.value = month;
            }
            if (day !== "None") {
                day_select.value = day;
            }
            if (title !== "None") {
                title_seach.value = title;
            }
            if (tag !== "None") {
                tag_seach.value = tag;
            }
            // year_select.value = year;
            // month_select.value = month;
            // day_select.value = day;

        //     $(document).on('submit','#sort_form',function(e){
        //     e.preventDefault();
        //     $.ajax({
        //         type:"POST",
        //         url: "{% url 'landing' %}",
        //         data:  {input:$('#sort_by_select').val(),
        //                 csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        //         },
        //         success: function(data){
        //             console.log(data)
    
        //         }
        //     });

        // })
        console.log(input)

    </script>
    <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>